* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
}
nav {
  padding: 0.8rem;
  background-color: #333;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 100%;
  height: 50px;
  object-fit: cover;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav button {
  padding: 0.7rem;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  outline: none;
}

nav ul li a:hover {
  color: orangered;
}

nav button:hover {
  opacity: 0.8;
}

.offer-section {
  background-color: #f7f7f7;
  padding: 2em;
  width: 100%;
  height: 350px;
  background-image: url("https://placehold.co/600x200?text=offer-image");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-section button {
  padding: 0.8rem;
  outline: none;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  align-self: flex-end;
  cursor: pointer;
}

.menu-section {
  padding: 5rem 3rem;
}

.menu-section h2 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
}

.menu-section h2:after {
  display: flex;
  content: "";
  width: 5rem;
  height: 5px;
  background-color: red;
  border-radius: 2px;
  margin: 10px auto 20px;
}

.sub-menu-container {
  padding: 2rem 0;
  background-color: #ece7e7d6;
  margin-bottom: 4rem;
}

.sub-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.sub-menu-header h3 {
  border-left: 5px solid red;
  padding-left: 0.5rem;

  font-size: 2rem;
  font-weight: 600;
}

.sub-menu-header a {
  padding: 0.7rem 1rem;
  margin-right: 1.5rem;
  text-decoration: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
}

.sub-menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.sub-menu-card {
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  background-color: #fdfdfd;
}

.sub-menu-card img {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.sub-menu-card-content {
  padding: 1rem;
  line-height: 2;
}

.sub-menu-card-content h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: red;
}

.sub-menu-card-content p {
  font-size: 0.9rem;
}

.strike-price {
  text-decoration: line-through;
  font-weight: bold;
  color: rgb(148, 142, 142);
  font-size: 0.7rem;
  margin-left: 3px;
}

.discounted-price {
  font-weight: bold;
  margin-left: 5px;
}

.item-discount {
  font-weight: bold;
  color: red;
  font-size: 0.7rem;
  margin-left: 3px;
}

.sub-menu-card-footer button {
  background-color: #333;
  color: white;
  outline: none;
  border: none;
  padding: 1rem;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

footer {
  background-color: #333;
}

.footer-top {
  padding: 5rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin: 2rem 2rem 0rem 2rem;
}
.footer-section {
  width: 350px;
}
.footer-section h3 {
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.footer-section ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-section a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.footer-section a:hover {
  opacity: 0.8;
}
.footer-section p {
  color: white;
  margin-bottom: 15px;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.8rem;
}

.footer-bottom p {
  color: white;
}

.footer-bottom p a {
  text-decoration: none;
  color: white;
}

.subscription-container {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}

.subscription-container input {
  padding: 0.5rem;
  width: 250px;
  border-radius: 5px;
}

.subscription-container button {
  flex: 1;
  border-radius: 5px;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.subscription-container button:hover {
  opacity: 0.8;
}
